

#app-header {
    background-color: #FFF7ED;
    padding: 2rem 1rem;
}

nav {
    display: flex;
    background: url(image.png);
    justify-content: space-between;
    align-items: center;
}

#app-logo {
    font-weight: 900;
    font-size: 25.3531px;
    line-height: 40px;
}

#app-logo:hover, #app-logo:focus  {
    text-decoration: none !important;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

ul > li {
    font-weight: 600;
    line-height: 23px;
}

ul > li > a:hover, a:focus {
    text-decoration: underline;
}