#hero-home {
    width: 100%;
    min-height: 500px;
    background: linear-gradient(0deg, rgba(59, 57, 56, 0.46), rgba(23, 20, 20, 0.46)), url('../assets/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 1rem;
    color: #fff;
}

#hero-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
}

#hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 5rem 0 7rem 0;
}

#hero-btn {
    width: 100%;
    background: #FF8C38;
    border-radius: 5px;
    text-align: center;
    padding: .6rem;
    border: none;
}

#hero-btn > a {
    color: #FFF;
    font-weight: 700;
    font-size: 15.9462px;
    line-height: 32px;
}