@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#App {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 5px #000;
}

a {
  text-decoration: none;
  color: #000;
}
